@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

body
{
    background: #222;
}

.background
{
    width: 100vw;
    height: calc(100vw / 3 + 1px);
    background-image: paint(stars);
    position: relative;
    isolation: isolate;
}

.mars
{
    height: 70%;
    aspect-ratio: 1 / 1;
    background: linear-gradient(90deg, #BD4602 10%, #640002 70%);
    position: absolute;
    right: 12%;
    top: 15%;
    border-radius: 50%;
}

.mars .details
{
    width: 95%;
    height: 95%;
    background: conic-gradient(from 90deg, #979797 10% 30%, #300000 30% 10%);
    mix-blend-mode: multiply;
    opacity: 0.8;
    filter: blur(30px);
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 2%;
}

.mars .code-symbol
{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    font-size: 14vw;
    width: max-content;
    color: rgb(255, 114, 49);
    mix-blend-mode: soft-light;
}

.starship
{
    width: 16%;
    height: 11%;
    background: 
        /* linear-gradient(-170deg, #999 10%,  transparent 30%), */
        linear-gradient(180deg, #777 25% 10%, #ddd 50%, #070707 50%);
    border-bottom: 1px solid #111;
    border-radius: 0 50% 50% 0;
    position: absolute;
    top: 46%;
    left: 15%;
}

.starship .nose-cone
{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

.starship .windows
{
    position: absolute;
    right: 0;
    top: 0;
    height: 42%;
    width: 35%;
    background: paint(starshipWindows);
}

.starship .rocket-exhaust
{
    --exhaust-bg: #492dffa9;
    height: 50%;
    width: 80%;
    background: var(--exhaust-bg);
    opacity: 0.6;
    border-radius: 100%;
    position: absolute;
    left: -23%;
    top: 25%;
    z-index: -1;
}

.starship .rocket-exhaust::before,
.starship .rocket-exhaust::after
{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--exhaust-bg);
    opacity: 0.8;
}

.starship .rocket-exhaust::before
{
    border-radius: 100%;
    top: -45%;
}

.starship .rocket-exhaust::after
{
    border-radius: 100%;
    bottom: -45%;
}

.starship .rocket-exhaust .plume
{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #fff;
    border-radius: 100%;
    left: 10%;
    z-index: -1;
}

.starship .rocket-exhaust .plume-1
{
    top: -25%;
}

.starship .rocket-exhaust .plume-2
{
    top: 25%;
    opacity: 0.3;
}

.starship .rocket-exhaust .plume-3
{
    bottom: -25%;
}


